.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid lightseagreen;
    border-radius: 50%;
    cursor: pointer;
}
